---
layout: default
---
<div class="row">
  {% for post in paginator.posts %}
  <div class="column">
    <div class="card">
    <a href="{{site.baseurl}}{{post.url}}">
    <img src="{{post.image}}">
    <h3>{{ post.title }}</h3>
    </a>
    </div>
  </div>
  {% endfor %}
</div>
<br/>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a style="color: #444;" href="{{site.baseurl}}/{{ include.basepath }}" title="Previous Page">&lang; Newer</a>
{% else %}
<a style="color: #444;" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Previous Page">&lang; Prev</a>
{% endif %}
{% endif %}
<span style="color: #555;"> &nbsp; &nbsp; Page {{paginator.page}} of {{paginator.total_pages}} &nbsp; &nbsp; </span>
{% if paginator.next_page %} 
<a style="color: #444;" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Next Page">Next &rang;</a>
{% endif %} 
